@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

* {
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #0b1416;
  color: #ffffffdc;
  font-weight: 300;
  /* margin: 0 20px; */
}

.container {
  width: 100%;
  min-height: 100vh;
  padding: 10px;
}

.todo-app {
  width: 100%;
  max-width: 540px;
  margin: 00px auto 20px;
  padding: 40px 0px 50px 0px;
}

.todo-app h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
}
.row {
  margin-left: 20px;
  max-width: 300px;
  display: flex;
  justify-content: center;
  background-color: #223237;
  border-radius: 50px;
  margin-bottom: 25px;
}

input {
  padding-left: 20px;
  border: none;
  background: none;
  outline: none;
  font-size: 10px;
  text-overflow: clip;
  font-weight: 300;
  color: #ffdfb5;
  /* letter-spacing: 0.5px; */
}

button {
  border: none;
  outline: none;
  padding: 16px 25px;
  border-radius: 100px;
  background: none;
  transition: color 0.5s;
  color: #ffffff8e;
  font-size: 10px;
}

button:hover {
  color: #fdc67d;
}

ul li {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-weight: 300;
  font-size: 16px;
  padding: 12px 80px 12px 0px;
  user-select: none;
  position: relative;
  transition: color 0.2s;
  margin-left: 50px;
}

ul li::before {
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-image: url(unchecked.png);
  background-size: cover;
  background-position: center;
  top: 15.5px;
  transition: background-image 0.3s;
  margin-left: -30px;
}

ul li.checked {
  /* text-decoration: line-through #ff9900; */
  color: #ffffff28;
  transition: color 0.3s;
}

ul li.checked::before {
  background-image: url(checked.png);
  transition: background-image 0.3s;
}

ul li span {
  position: absolute;
  right: 10px;
  top: 0px;
  transition: rotate 0.5s;
  font-size: 26px;
  padding: 5px 5px;
  /* margin-right: 15px; */
}

ul li span:hover {
  rotate: -45deg;
  color: #fdc67d;
  transition: all 0.3s;
}

#joke {
  /* margin: 0% 28%; */
  text-align: center;
}
